body {
  background: white;
}

.slide_header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 99%;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 8vh;
}

.slide {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 10px 50px 0;
}

.card {
  border: 1px solid rgb(255, 255, 255);
  background: #38015c;
  border-radius: 8px;
  overflow: hidden;
  height: 400px;
  /* color: rgb(0, 0, 0); */
}

.card-top h1 {
  font-size: 18px;
  margin: 25px 20px;
  font-family: "Poppins";
  font-weight: 800;
  line-height: 99%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 5px;
}

.card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-buttom {
  margin: 6px 20px;
}

.card-buttom h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
}

.category {
  position: relative;
}

.category::before {
  content: "";
  background: red;
  position: absolute;
  top: calc(100% + 10px);
  left: 0px;
  right: 0px;
  height: 2px;
}

.btn-style {
  background-color: #ffffff15 !important;
  color: #fffdfd;
  border-color: #fffdfd;
  padding: 8px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 4vh;
}

.slick-next:before {
  color: black;
}

.slick-prev:before {
  color: black;
}
