.header {
  display: flex;
  justify-content: end;
  width: 90%;
  margin-bottom: 5vh;
}

.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}

.maincontent {
  display: flex;
  justify-content: center;
}

.button {
  font: inherit;
  background-color: #38015c;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.a:hover {
  color: #c291e2;
}

.header button:hover {
  background-color: #c291e2;
  color: #38015c;
}
